## **Tuples**

> tuples are immutable data-structure

> tuples are read-only data type

> when data integrity is importent

+ create
+ access
+ edit
+ add
+ delete
+ operations
+ functions

**Create**

In [1]:
t1 = ()
t1

()

In [3]:
# homogeneous tuple
t2 = (1,2,3,4)
t2

(1, 2, 3, 4)

In [4]:
# hetarogeneous tuple
t3 = (1,3,4,"hi there", False, True, 3.1416, 4+5j)
t3

(1, 3, 4, 'hi there', False, True, 3.1416, (4+5j))

In [5]:
t4 = (1,2,3,(4,5))
t4

(1, 2, 3, (4, 5))

**Exception case**

In [6]:
t5 = (1)
print(t5)
print(type(t5))

1
<class 'int'>

In [7]:
t5 = ("hello world")
print(t5)
print(type(t5))

hello world
<class 'str'>

for single item tuple

In [8]:
t5 = (1,)
print(t5)
print(type(t5))

(1,)
<class 'tuple'>

In [10]:
t6 = tuple()
t6

()

In [11]:
t6 = tuple("hello")
t6

('h', 'e', 'l', 'l', 'o')

In [14]:
t6 = tuple((1,2,3,4))
t6

(1, 2, 3, 4)

In [15]:
t6 = tuple([1,2,3,4])
t6

(1, 2, 3, 4)

**Access Items**

In [16]:
t2

(1, 2, 3, 4)

In [17]:
t2[0]

1

In [18]:
t2[-1]

4

In [19]:
t2[::]

(1, 2, 3, 4)

In [20]:
t4

(1, 2, 3, (4, 5))

In [21]:
t4[-1][0]

4

> **Editting : not possible due to immutable property**

In [22]:
t2[0] = 100

TypeError: 'tuple' object does not support item assignment

> **Add: not possible**

> **Delete:**

+ we can delete the entire tuple
+ but not specific index or slicing method 
+ cause mutable characteristics will be appear

In [23]:
del t1
t1

NameError: name 't1' is not defined

In [24]:
t3

(1, 3, 4, 'hi there', False, True, 3.1416, (4+5j))

In [25]:
t2

(1, 2, 3, 4)

In [26]:
del t2[-1]

TypeError: 'tuple' object doesn't support item deletion

> **Operation**

+ concatenation
+ multiply
+ loop

In [27]:
t2 + t3

(1, 2, 3, 4, 1, 3, 4, 'hi there', False, True, 3.1416, (4+5j))

In [28]:
t2 * 2

(1, 2, 3, 4, 1, 2, 3, 4)

In [29]:
for i in t2:
    print(i, end=" ")

1 2 3 4

In [30]:
1 in t2

True

In [31]:
"hi there" in t3

True

> ### **Functions**

In [32]:
len(t2)

4

In [33]:
min(t2)

1

In [35]:
max(t2)

4

In [36]:
sum(t2)

10

In [38]:
# convert into list
sorted(t2)

[1, 2, 3, 4]

In [39]:
sorted(t2, reverse=True)

[4, 3, 2, 1]