> ## **Dictionary**

+ key : value      pair
+ separated by , 
+ Dictionary has no indexing
+ Dictionary is a mutable data types
+ keys --> must immutable,
+ values --> they can be mutable
+ keys should be unique

+ mutable : list/ sets/ dictionary
+ immutable : strings/  tuples/  int/ float/ boolean/ complex

> #### **Create**

In [1]:
d = {}
d

{}

In [2]:
type(d)

dict

In [3]:
d = dict({"name":"siyam"})
d

{'name': 'siyam'}

In [4]:
d = {"name":"siyam", "gender": "male"}
d

{'name': 'siyam', 'gender': 'male'}

> #### **keys --> must immutable**

In [5]:
d1 = {[1,2,3]: "siyam"}
d1

TypeError: cannot use 'list' as a dict key (unhashable type: 'list')

In [6]:
d1 = {(1,2,3): "siyam"}
d1

{(1, 2, 3): 'siyam'}

> #### **keys should be unique**

In [8]:
d2 = {"name":"siyam", "name":"hossain", "gender": "male"}
d2

{'name': 'hossain', 'gender': 'male'}

> #### **2D dictionary**

In [9]:
d3 = {"name":"siyam", "college":"dmrc", "marks":{"math":95,"eee":93}}
d3

{'name': 'siyam', 'college': 'dmrc', 'marks': {'math': 95, 'eee': 93}}

> #### **Accessing items from a dictionary**

In [10]:
d

{'name': 'siyam', 'gender': 'male'}

In [11]:
d[0]

KeyError: 0

In [12]:
d["name"]

'siyam'

In [13]:
d["gender"]

'male'

In [14]:
d3

{'name': 'siyam', 'college': 'dmrc', 'marks': {'math': 95, 'eee': 93}}

In [15]:
d3["marks"]

{'math': 95, 'eee': 93}

In [16]:
d3["marks"]["eee"]

93

> #### **Edit**

In [17]:
d

{'name': 'siyam', 'gender': 'male'}

In [18]:
d["name"] = "siyam hossain"
d

{'name': 'siyam hossain', 'gender': 'male'}

In [19]:
d3

{'name': 'siyam', 'college': 'dmrc', 'marks': {'math': 95, 'eee': 93}}

In [21]:
d3["marks"]["eee"] = 97
d3

{'name': 'siyam', 'college': 'dmrc', 'marks': {'math': 95, 'eee': 97}}

In [22]:
d.get("name")

'siyam hossain'

> #### **Add new key value pairs**

In [23]:
d

{'name': 'siyam hossain', 'gender': 'male'}

In [25]:
d["dept"] = "cse"
d

{'name': 'siyam hossain', 'gender': 'male', 'dept': 'cse'}

In [26]:
d3

{'name': 'siyam', 'college': 'dmrc', 'marks': {'math': 95, 'eee': 97}}

In [28]:
d3["marks"]["toc"] = 92
d3

{'name': 'siyam',
 'college': 'dmrc',
 'marks': {'math': 95, 'eee': 97, 'toc': 92}}

> #### **Delete**

In [29]:
d

{'name': 'siyam hossain', 'gender': 'male', 'dept': 'cse'}

In [31]:
d5 = {}
d5

{}

In [32]:
del d5
d5

NameError: name 'd5' is not defined

In [33]:
del d["gender"]
d

{'name': 'siyam hossain', 'dept': 'cse'}

In [34]:
d.clear()
d

{}

In [35]:
d1

{(1, 2, 3): 'siyam'}

In [36]:
d2

{'name': 'hossain', 'gender': 'male'}

In [37]:
d3

{'name': 'siyam',
 'college': 'dmrc',
 'marks': {'math': 95, 'eee': 97, 'toc': 92}}

In [38]:
d1 + d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [39]:
d1 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [41]:
# loops
# only showing keys
for i in d3:
    print(i, end=" ")

name college marks

In [42]:
# loops
# only showing keys
for i in d3:
    print(i," ",d3[i], end=" ")

name   siyam college   dmrc marks   {'math': 95, 'eee': 97, 'toc': 92}

In [45]:
# membership won't work on value
"siyam" in d3

False

In [48]:
# membership work on key
"name" in d3

True

> #### **Function**

In [49]:
len(d3)

3

In [50]:
min(d3)

'college'

In [51]:
max(d3)

'name'

In [52]:
sorted(d3)

['college', 'marks', 'name']

In [54]:
sorted(d3, reverse=True)

['name', 'marks', 'college']

In [55]:
d3.keys()

dict_keys(['name', 'college', 'marks'])

In [56]:
d3.values()

dict_values(['siyam', 'dmrc', {'math': 95, 'eee': 97, 'toc': 92}])